.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.btn {
    margin-top: 2px;
    border-radius: 50px;
}

.navbar {
    background-color: rgb(87, 83, 212);
    color: black;
}



.btn-outline-success {
    color: rgb(70, 70, 70);
    border-color: rgb(143, 139, 139);
    background: linear-gradient(45deg,rgb(255, 255, 105),rgb(238, 238, 43));
  }
.btn-outline-success:hover {
    color: #fff;
    border-color: #fff;
    background: linear-gradient(45deg,rgb(238, 238, 43),rgb(255, 255, 105));
}   